@use "./../../../../fonts.scss";

.recipe {
  // === Preparation Time ===
  &__preparation-time {
    padding: var(--space-300);
    background-color: var(--color-rose-50);
    border-radius: var(--space-150);

    h2 {
      @include fonts.apply-text-preset("3");
      color: var(--color-rose-800);
      margin-bottom: var(--space-200);
    }

    ul {
      list-style: "•";
      padding-left: var(--space-200);
      display: flex;
      flex-direction: column;
      gap: var(--space-100);
    }

    li {
      @include fonts.apply-text-preset("4");
      color: var(--color-stone-600);
      padding-left: var(--space-300);

      strong {
        color: var(--color-stone-800);
      }

      &::marker {
        color: var(--color-rose-800);
        font-weight: bold;
      }
    }
  }
}
