@use "./fonts.scss";

:root {
    /* colors */
    --color-rose-800:  #7A284E;
    --color-rose-50:   #FFF7FB;
    --color-stone-900: #312E2C;
    --color-stone-600: #5F564D;
    --color-stone-150: #E3DDD7;
    --color-stone-100: #F3E5D7;
    --color-brown-800: #854632;
    --color-white:     #FFFFFF;
    
    /* spacing */
    --space-1600:   128px;
    --space-600:     48px;
    --space-500:     40px;
    --space-400:     32px;
    --space-300:     24px;
    --space-200:     16px;
    --space-150:     12px;
    --space-100:      8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-stone-100);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--space-1600) var(--space-600);
}

@media (max-width: 576px) {
    body {
        padding: 0;
    }
}

// === separator ===
.line {
    background-color: var(--color-stone-150);

    &--h {
        @extend .line;
        width: 100%;
        height: 1px;
    }
}